*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@keyframes slideShow {
  0% {
    background-image: url("@assets/about/gili_island.jpg");
  }
  14% {
    background-image: url("@assets/about/moto.jpg");
  }
  28% {
    background-image: url("@assets/about/fieldworker.jpg");
  }
  42% {
    background-image: url("@assets/about/fields_kids.jpg");
  }
  56% {
    background-image: url("@assets/about/drums.jpg");
  }
  70% {
    background-image: url("@assets/about/prayer.jpg");
  }
  84% {
    background-image: url("@assets/about/bananas.jpg");
  }
  100% {
    background-image: url("@assets/about/boat.jpg");
  }
}

.bg-slideshow {
  @apply h-screen w-full bg-cover bg-center;
  animation: slideShow 28s infinite;
}

/* Custom arrow styling for numbers */
.custom-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 0.5rem;
}

.right-arrow {
  right: 0.5rem;
}
